.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c0e0ff;
    box-shadow: 0px 0px 12px #1a3262;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
    color: #18191b;
}

.bolder {
    font-weight: bolder;
}

.coin-name {
    margin-left: -4rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 12px #18191b;
    color: rgb(17, 17, 17);
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.up {
    background-color: #00ff661c;
}

.down {
    background-color: #ff00001f;
}

.coin-row:hover {
    transform: scale(1.01);
    transition: .1s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 20px #18191b;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}